.materialPicker{
    width: 1rem;
}

.Number{
    border: none;
    text-align: center;
    font-size: 2rem;
    width: 5rem;
}

.pickerButton{
    width:100%;
}

.first{
    float:left;
}
.second{
    float:right;
}