/* =====================================
    User
    --------------
    - Styles associated with the user account
================================= */
/*
.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user__actions {
    color: #ccc;
    display: block;
    //font-size: 0.85rem;
    margin: 0 0.5rem;

    &:before {
        content: '( ';
    }

    &:after {
        content: ' )';
    }
}
*/