<div class="col s12 m12 l12">
    <div class="row">
        <h4>Customer</h4>
    </div>
    <div class="row">
        <form class="col s12" role="form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="customerName"
                           type="text"
                           ng-model="customer.name">
                    <label for="customerName">Customer Name (Required)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="contact"
                           type="text"
                           ng-model="customer.contact">
                    <label for="contact">Contact</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="telephone"
                           type="text"
                           ng-model="customer.telephone">
                    <label for="telephone">Phone Number (Required)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address1"
                           type="text"
                           ng-model="customer.address1">
                    <label for="address1">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address2"
                           type="text"
                           ng-model="customer.address2">
                    <label for="address2">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="town"
                           type="text"
                           ng-model="customer.town">
                    <label for="town">Town</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="county"
                           type="text"
                           ng-model="customer.county">
                    <label for="county">County</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="postcode"
                           type="text"
                           ng-model="customer.postcode">
                    <label for="postcode">Postcode</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="url"
                           type="text"
                           ng-model="customer.url">
                    <label for="url">URL</label>
                </div>
            </div>
        </form>
    </div>
</div>
