<div class="col s12 m12 l12">
    <div class="row">
        <h4>SEO Product</h4>
    </div>
    <div class="row">
        <form role="form" class="col s12">
            <div class="row">
                <div class="input-field col s3">
                    <h5>Customer:</h5>
                </div>
                <div class="input-field col s9">
                    <h5>A A Aaardvarks Ltd</h5>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <div class='tg-switch'>
                        <input class='tgl tgl-flip' id='cb1' type='checkbox'>
                        <label class='tgl-btn' data-tg-off='Review' data-tg-on='Reviewed' for='cb1'></label>
                    </div>
                </div>
                <div class="input-field col s3">
                    <div class='tg-switch'>
                        <input class='tgl tgl-flip' id='cb2' type='checkbox'>
                        <label class='tgl-btn' data-tg-off='Start' data-tg-on='Started' for='cb2'></label>
                    </div>
                </div>
                <div class="input-field col s3">
                    <div class='tg-switch'>
                        <input class='tgl tgl-flip' id='cb3' type='checkbox'>
                        <label class='tgl-btn' data-tg-off='Issue' data-tg-on='No Issue' for='cb3'></label>
                    </div>
                </div>
                <div class="input-field col s3">
                    <div class='tg-switch'>
                        <input class='tgl tgl-flip' id='cb4' type='checkbox'>
                        <label class='tgl-btn' data-tg-off='Complete' data-tg-on='Completed' for='cb4'></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="checkbox" checked data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Phone</option>
                        <option value="2">Visit</option>
                    </select>
                    <label>Activity Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="date" class="datepicker">
                    <label>Activity Date</label>
                </div>
            </div>
            <div class="row">
                <div class="materialPicker input-field col s6">
                    <div class="timeContainer first">
                        <div class="waves-effect waves-light btn pickerButton btnUp">
                            <i class="mdi-hardware-keyboard-arrow-up"></i>
                        </div>
                        <div class="Number">
                            12
                        </div>
                        <div class="waves-effect waves-light btn pickerButton btnDown">
                            <i class="mdi-hardware-keyboard-arrow-down"></i>
                        </div>
                    </div>
                    <div class="timeContainer second">
                        <div class="waves-effect waves-light btn pickerButton btnMinUp">
                            <i class="mdi-hardware-keyboard-arrow-up"></i>
                        </div>
                        <div class="Number">
                            00
                        </div>
                        <div class="waves-effect waves-light btn pickerButton btnMinDown">
                            <i class="mdi-hardware-keyboard-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Called</option>
                        <option value="2">Visited</option>
                        <option value="3">Left Message</option>
                    </select>
                    <label>Activity Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="notes" class="materialize-textarea"></textarea>
                    <label for="notes">Notes</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button id="saveActivityButton" class="btn waves-effect waves-light col s12" type="submit" name="action" href="#" ng-click="saveActivity()">Save Activity</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 5 // Creates a dropdown of 15 years to control year
        });
    });

    $(".btnUp").click(function(){
        var num = $(this).parent(".timeContainer").find(".Number");
        var val = parseInt($(num).text());
        val = val + 1;
        if(val > 23) //change to on the hour
        {
            val = 0;
        }
        $(num).text(("0" + (val)).slice(-2));
    });

    $(".btnDown").click(function(){
        var num = $(this).parent(".timeContainer").find(".Number");
        var val = parseInt($(num).text());
        val = val - 1;
        if(val < 0) //change to on the hour
        {
            val = 23;
        }
        $(num).text(("0" + (val)).slice(-2));
    });

    $(".btnMinUp").click(function(){
        var num = $(this).parent(".timeContainer").find(".Number");
        var val = parseInt($(num).text());
        val = val + 15;
        if(val > 59) //change to on the hour
        {
            val = 0;
        }
        $(num).text(("0" + (val)).slice(-2));
    });

    $(".btnMinDown").click(function(){
        var num = $(this).parent(".timeContainer").find(".Number");
        var val = parseInt($(num).text());
        val = val - 15;
        if(val < 0) //change to on the hour
        {
            val = 45;
        }
        $(num).text(("0" + (val)).slice(-2));
    });
</script>
